body {
  margin:0;
  padding:0;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

input[type="text"]{
  width: 20%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}

input[type="number"]{
  width: 20%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}

select {
  width: 50%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}

.header{
  position: relative;
  width: auto;
  padding: 40px;
  background-color: aquamarine;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.customer-name{
  color: #EA4C89;
}

.option{
  display: flex;
  flex-direction: column;
  position: relative;
  width: 250px;
  height: 40px;
}

.fullName-box{
  justify-items: left;
}
.fullName-div select{
  width: 300px;
}

.form-input-div{
  align-items: center;
  justify-content: center;
  margin: 50px auto;
  text-align: center;
  position: relative;
  width: 80%;
  padding: 40px;
  background-color: aquamarine;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}


.form-input-div:focus{
  background-color: red;
}

.from-to-box{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.from-box select{
  width: 300px;
}

.to-box select{
  width: 300px;
}

.from-box,.to-box{
  padding: 20px;
}

.type-date-box{
  display: flex;
  align-items: center;
  text-align: left;
  justify-content: center;
}

.type-box, .departure-box, .arrival-box{
  padding: 10px;
}

.button-1 {
  background-color: #EA4C89;
  width: 50%;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  align-items: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  /* animation: mymove 5s infinite; */
}
/* @keyframes mymove {
  35% {background-color: green;}
  65% {background-color: red;}
  95% {background-color: blue;}
} */

.button-1:hover,
.button-1:focus {
  background-color: #F082AC;
}

.passenger-box{
  display: flex;
  justify-content: center;
}

.adults-box input{
 width: 100px;
}

.children-box input{
  width: 100px;
}

.infants-box input{
  width: 100px;
}

.adults-box, .children-box, .infants-box{
  padding: 50px;
}

.flight-record{
  align-items: center;
  justify-content: center;
  margin: 50px auto;
  text-align: center;
  position: relative;
  width: 80%;
  padding: 40px;
  background-color: gray;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

table {
  margin: 0 auto;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 70%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(odd) {
  background-color: cornflowerblue;
}

tr:nth-child(even) {
  background-color: coral;
}
